#!/usr/bin/env bash

set -euo pipefail

mkdir -p /var/usr.overlay /var/usr.overlay.workdir

# install
mkdir /tmp/custompackages
package="https://github.com/toanju/package-gardenlinux-update/releases/download/0.9gl4%2Bbp1877/build.tar.xz.0000"

echo "Downloading and extracting package from $package"
wget -q "$package" -O - | xz -d | tar xf - -C /tmp/custompackages

pushd /tmp/custompackages > /dev/null
rm -f -- *dbgsym* *arm64* || true
ls -1
dpkg -i gardenlinux-update_*_amd64.deb
popd > /dev/null
rm -rf /tmp/custompackages
