#!/usr/bin/env bash
set -Eeuox pipefail

# the variable BUILDER_FEATURES includes all features comma separated
# we check here if the khost feature is included if so we exit early
IFS=',' read -ra FEATURES <<< "${BUILDER_FEATURES:-}"
for feature in "${FEATURES[@]}"; do
    if [[ "${feature}" == "khost" ]]; then
        echo "khost feature detected, skipping"
        exit 0
    fi
done

# capi versions: https://github.com/kubernetes-sigs/cri-tools/releases
CAPI_VERSION=v1.35.0
K8S_VERSION_REPO="${CAPI_VERSION%.*}"

# key can be downloaded liek e.g.
# curl -fsSL https://pkgs.k8s.io/core:/stable:/${K8S_VERSION_REPO}/deb/Release.key > pkgs-k8s-io_${K8S_VERSION_REPO}_release.key
cp "/builder/features/_scicommon/pkgs-k8s-io_${K8S_VERSION_REPO}_release.key" "/etc/apt/keyrings/kubernetes-${K8S_VERSION_REPO}-apt-keyring.asc"

cat <<EOF | tee /etc/apt/sources.list.d/kubernetes-"${K8S_VERSION_REPO}".sources
Types: deb
Architectures: amd64
URIs: https://pkgs.k8s.io/core:/stable:/${K8S_VERSION_REPO}/deb/
Suites: /
Signed-By: /etc/apt/keyrings/kubernetes-${K8S_VERSION_REPO}-apt-keyring.asc
EOF

DEBIAN_FRONTEND=noninteractive apt update -y
DEBIAN_FRONTEND=noninteractive apt install -y --no-install-recommends "cri-tools=${CAPI_VERSION#v}*"
