#!/usr/bin/env bash
set -Eeuox pipefail

# the variable BUILDER_FEATURES includes all features comma separated
# we check here if the khost feature is included if so we exit early
IFS=',' read -ra FEATURES <<< "${BUILDER_FEATURES:-}"
for feature in "${FEATURES[@]}"; do
    if [[ "${feature}" == "khost" ]]; then
        echo "khost feature detected, skipping"
        exit 0
    fi
done

# capi versions: https://github.com/kubernetes-sigs/cri-tools/releases
CAPI_VERSION=v1.33.0
K8S_VERSION_REPO="${CAPI_VERSION%.*}"

# key can be downloaded liek e.g.
# curl -fsSL https://pkgs.k8s.io/core:/stable:/${K8S_VERSION_REPO}/deb/Release.key > pkgs-k8s-io_${K8S_VERSION_REPO}_release.key
cp "/builder/features/_scicommon/pkgs-k8s-io_${K8S_VERSION_REPO}_release.key" "/etc/apt/keyrings/kubernetes-${K8S_VERSION_REPO}-apt-keyring.asc"

cat <<EOF | tee /etc/apt/sources.list.d/kubernetes-"${K8S_VERSION_REPO}".sources
Types: deb
Architectures: amd64
URIs: https://pkgs.k8s.io/core:/stable:/${K8S_VERSION_REPO}/deb/
Suites: /
Signed-By: /etc/apt/keyrings/kubernetes-${K8S_VERSION_REPO}-apt-keyring.asc
EOF

DEBIAN_FRONTEND=noninteractive apt update -y
DEBIAN_FRONTEND=noninteractive apt install -y --no-install-recommends "cri-tools=${CAPI_VERSION#v}*"

LINUX_VERSION="6.12.90-1gl9%2Bbp1877"
# only the major.minor.patch from the beginning:
LINUX_KERNEL_VERSION="${LINUX_VERSION%%-*}"
LINUX_URLS=(
  "https://github.com/gardenlinux/package-linux/releases/download/$LINUX_VERSION/build.tar.xz.0000"
  "https://github.com/gardenlinux/package-linux/releases/download/$LINUX_VERSION/build.tar.xz.0001"
  "https://github.com/gardenlinux/package-linux/releases/download/$LINUX_VERSION/build.tar.xz.0002"
  "https://github.com/gardenlinux/package-linux/releases/download/$LINUX_VERSION/build.tar.xz.0003"
)

df -h
TMP_DIR=$(mktemp -d)
for p in "${LINUX_URLS[@]}"; do
  echo "Downloading and extracting package from $p"
  wget "$p"
  df -h
done
ls -lh build.tar.xz.*
cat build.tar.xz.* > build.tar.xz
rm build.tar.xz.*
df -h
tar xf build.tar.xz -C "$TMP_DIR"
rm build.tar.xz
df -h

env
pushd "$TMP_DIR" > /dev/null
# install linux-image-6.12.90-amd64_6.12.90-1gl9~bp1877_amd64.deb
dpkg -i linux-image-"${LINUX_KERNEL_VERSION}"-amd64_"${LINUX_KERNEL_VERSION}"*.deb
popd > /dev/null
rm -rf "$TMP_DIR"
